{% extends 'main.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock title %}

{% block content %}
<div class="home--body">
    <nav class="home--body__header shadow--1">
        <p class="title">NOTEBOOK</p>
        <div class="home--body__header__nav">
            <ul class="menu">
                <li class="title">HOME</li>
                <li class="dropdown-menu">
                    <p class="title" id="filters-link">FILTERS</p>
                    <ul class="dropdown-content shadow--1">
                        {% for topic in topics %}
                        <li>
                            <ul class="content">
                                <li><input type="checkbox" id="filters.topics.{{topic.name}}"
                                        name="filters.topics.{{topic.name}}"></li>
                                <li><label for="filters.topics.{{topic.name}}">{{topic.name}}</label></li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <ul class="search-bar">
                        <li><label for="search" class="title">SEARCH</label></li>
                        <li><input type="text" id="search" name="search"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="home--body__header__dropdown">
            <p class="add title">Add</p>
        </div>
    </nav>
    <main class="home--body__main shadow--1">

        <div class="explore">
            <p class="title">Explore</p>
            {% for notebook in notebooks %}
            <div class="notebook">
                <div class="header">
                    <p class="title">{{notebook.name}}</p>
                    <p>@{{notebook.owner.username}}</p>
                    <p>{{notebook.created}}</p>
                </div>
                <div class="body">
                    <p>{{notebook.description}}</p>
                </div>

            </div>
        </div>
        {% endfor %}

        <div class="activities">
            <p class="title">Activities</p>
        </div>
    </main>
    <script src="{% static 'script.js' %}"></script>
</div>
{% endblock content %}