{% extends 'main.html' %} 

{% block title %} 
Homepage
{% endblock title %}

{% block content %}
    <div class="home--body">
        <header class="home--body__header shadow--1">
            <p class="title">NOTEBOOK</p>
            <nav class="home--body__header__nav">

                <ul class="menu">
                    <li>HOME</li>
                    <li>FILTERS</li>
                    <li>
                        <ul class="search-bar">
                            <li>SEARCH</li>
                            <li><input type="text"></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="home--body__main shadow--1">
            <div class="explore">
                <p class="title">Explore</p>
            </div>
            <div class="activities">
                <p class="title">Activities</p>
            </div>
        </main>
    </div>
{% endblock content %}