* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.5em;
}

.container {
    background-color: #b0b0b0;
    height: 100vh;
    display: flex;
    column-gap: 1em;
    justify-items: center;
    
    > .content {
        display: flex;
    }
    
}