* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.5em;
}

.container {
    background-color: #b00b13;
    height: 100vh;
    display: flex;
    column-gap: 1em;
    justify-items: center;
    
    :first-child {
        height: 10px;
    }
    :nth-child(2){
        width: 5px; 
        justify-self: flex-end;
    }
    .row {
        padding: 5rem;
        height: fit-content;
    
        text-align: center;
        background-color: #fff;
    }
}