* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.shadow--1 {
  -webkit-box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
          box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

.home--body {
  background-color: #eaeaea;
  height: 100vh;
  padding: 0 5rem;
}

.home--body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25em 1em;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  background-color: #333;
  color: white;
}

.home--body__header > .title {
  font-size: 2rem;
}

.home--body__header .link:hover {
  opacity: 0.5;
}

.home--body__header__dropdown {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  background-color: #999;
  justify-items: flex-end;
}

.home--body__header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home--body__header__nav > .menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home--body__header__nav > .menu > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.home--body__header__nav > .menu > .dropdown-menu.active > .dropdown-content {
  opacity: 1;
}

.home--body__header__nav > .menu > .dropdown-menu {
  position: relative;
}

.home--body__header__nav > .menu > .dropdown-menu > .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  color: black;
  background-color: white;
  gap: 1em;
  padding: .25em 1em;
}

.home--body__header__nav > .menu > .dropdown-menu > .dropdown-content > li > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.home--body__header__nav > .menu > .dropdown-menu > .dropdown-content > li > .content > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.home--body__header__nav > .menu .search-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home--body__header__nav > .menu .search-bar > input {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: .4rem;
  padding: 0 1rem;
}

.home--body__main {
  margin-top: 1em;
  padding: 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.home--body__main > .explore > .title {
  font-size: 1.6rem;
}

.home--body__main > .explore > .notebook {
  padding: 1em;
}

.home--body__main > .activities > .title {
  font-size: 1.6rem;
}
/*# sourceMappingURL=main.css.map */